{% extends 'base/base.html' %} {% block title %}Book Tickets{% endblock title %} {% block breadcrumb %}Book Tickets{% endblock breadcrumb %} {% load crispy_forms_tags %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" contents="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="" -->

    <title>Chatbot hello </title>
</head>

<body>
    <h1>Chatbot</h1>
    <div class="container mt-3">
        {% block mainai %} {% endblock mainai %}
    </div>

</body>

</html>
{% endblock content %}